.chat-main
  .chat-main__group-info
    .top-info
      .top-info__leftbox
        .top-info__leftbox--title
          test
        .top-info__leftbox--member
          %ul Member : 
          %li masa
      = link_to "#", class: "top-info__edit" do
        Edit
  .chat-main__message-list
    .main-message
      .main-message__info
        .main-message__info--name
          masa　
        .main-message__info--date
          2020/4/26(Sun) 16:20:48
      .main-message__text
        おはよう！
    .main-message
      .main-message__info
        .main-message__info--name
          masa　
        .main-message__info--date
          2020/4/26(Sun) 18:40:56
      .main-message__text
        今日は夜から雨
    .main-message
      .main-message__info
        .main-message__info--name
          masa　
        .main-message__info--date
          2020/4/26(Sun) 18:40:56
      .main-message__text
        今日は夜から雨

  .chat-main__message-form
    .form
      .form__input
        = form_for [@group, @message] do |f|
        =f.text_field :content, class: "form__input--text", placeholder: "type a message"}
          =f.label :image, class: "form__input--image"
            =icon('fas', 'image')
            = f.file_field :image, class: "form__input--file"
        = f.submit 'Send', class: "form__submit-btn"