.chat-main
  .chat-main__group-info
    .top-info
      .top-info__leftbox
        .top-info__leftbox--title
          test
        .top-info__leftbox--member
          %ul Member : 
          %li masa
      = link_to "#", class: "top-info__edit" do
        Edit
  .chat-main__message-list
    .main-message
      .main-message__info
        .main-message__info--name
          masa　
        .main-message__info--date
          2020/4/26(Sun) 16:20:48
      .main-message__text
        おはよう！
    .main-message
      .main-message__info
        .main-message__info--name
          masa　
        .main-message__info--date
          2020/4/26(Sun) 18:40:56
      .main-message__text
        今日は夜から雨
    .main-message
      .main-message__info
        .main-message__info--name
          masa　
        .main-message__info--date
          2020/4/26(Sun) 18:40:56
      .main-message__text
        今日は夜から雨

  .chat-main__message-form
    %form{class: "form"}
      .form__input
        %input{type: "text", class: "form__input--text", placeholder: "type a message"}
        %label{class: "form__input--image"}
          =icon('fas', 'image')
          %input{class: "form__input--file",type: "file"}
      %input{value: "Send",type: "submit", class: "form__submit-btn"}